.popup__title{
  width: 76.74%;
  max-width: 330px;
  margin: 35px 64px 54px 36px;
  font-weight: 900;
  font-size: 24px;
  line-height: 23px;
  text-align: start;  
}
@media (max-width: 1200px){
  .popup__title{
    width: 100%;
    max-width: 80%;
    font-size: 20px;
  }
}
@media (max-width: 800px){
  .popup__title{
   font-size: 18px;
  }
}
@media (max-width: 500px){
  .popup__title{
    width: 84.4%;
    max-width: 238px;
    margin: 25px auto 75px auto;
    line-height: 22px;
  }
}