.popup__container_delete{
  position: relative;
  min-height: 181px;
  width: 34.4%;
  max-width: 430px;
  margin: 270px auto 0 auto;
  padding: 0; 
}
@media (max-width: 800px){
  .popup__container_delete{
    width: 68.12%;
    max-width: 68.12%;
  }
}
@media (max-width: 500px){
  .popup__container_delete{
    width: 78.12%;
    max-width: 78.12%;
}
}
@media (max-width: 320px){
  .popup__container_delete{
    width: 88.125%;
    max-width: 88.125%;
  }
}