.cards__image{
  max-width: 100%;
  width: 282px;
  height: 282px;
  margin: 0;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}
