.login__header {
  display: flex;
  width: 68.75%;
  max-width: 880px;
  margin: 45px auto 0 auto;
  padding-bottom: 41px;    
  justify-content: space-between;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
@media (max-width: 320px){
  .login__header {
    width: 100%;
    margin: 28px auto 0 auto;
    padding-bottom: 31.6px;
  }
}