@import url("./vendor/normalize.css");
@import url("./vendor/fonts1.css");
@import url("./blocks/body/body.css");
@import url("./blocks/page/page.css");
@import url("./blocks/header/header.css");
@import url("./blocks/header/_mobile/header_mobile.css");
@import url("./blocks/header/__button-close/header__button-close.css");
@import url("./blocks/header/__button-exit/header__button-exit.css");
@import url("./blocks/header/__button-mobile/header__button-mobile.css");
@import url("./blocks/header/__content-login/header__content-login.css");
@import url("./blocks/header/__content-login/_mobile/header__content-login_mobile.css");
@import url("./blocks/header/__content/header__content.css");
@import url("./blocks/header/__content/_hidden/header__content_hidden.css");
@import url("./blocks/header/__link/header__link.css");
@import url("./blocks/header/__link/_hidden/header__link_hidden.css");
@import url("./blocks/header/__logo/header__logo.css");
@import url("./blocks/header/__username/header__username.css");
@import url("./blocks/profile/profile.css");
@import url("./blocks/profile/__avatar/profile__avatar.css");
@import url("./blocks/profile/__add-button/profile__add-button.css");
@import url("./blocks/profile/__container/profile__container.css");
@import url("./blocks/profile/__edit-button/profile__edit-button.css");
@import url("./blocks/profile/__info/profile__info.css");
@import url("./blocks/profile/__subtitle/profile__subtitle.css");
@import url("./blocks/profile/__title/profile__title.css");
@import url("./blocks/profile/__title-container/profile__title-container.css");
@import url("./blocks/cards/cards.css");
@import url("./blocks/cards/__container/cards__container.css");
@import url("./blocks/cards/__image/cards__image.css");
@import url("./blocks/cards/__delete/cards__delete.css");
@import url("./blocks/cards/__images/cards__images.css");
@import url("./blocks/cards/__item/cards__item.css");
@import url("./blocks/cards/__like/cards__like.css");
@import url("./blocks/cards/__title/cards__title.css");
@import url("./blocks/footer/footer.css");
@import url("./blocks/footer/__copyright/footer__copyright.css");
@import url("./blocks/popup/popup.css");
@import url("./blocks/popup/__close-button/popup__close-button.css");
@import url("./blocks/popup/__container/popup__container.css");
@import url("./blocks/popup/__input/popup__input.css");
@import url("./blocks/popup/input-error/popup__input-error.css");
@import url("./blocks/popup/__submit-button/popup__submit-button.css");
@import url("./blocks/popup/__submit-button/_active/popup__submit-button_active.css");
@import url("./blocks/popup/__title/popup__title.css");
@import url("./blocks/popup/_opened/popup_opened.css");
@import url("./blocks/popup/__image/popup__image.css");
@import url("./blocks/popup/__image/_opened/popup__image_opened.css");
@import url("./blocks/popup/__forma/popup__forma.css");
@import url("./blocks/popup/__input/_add/popup__input_add.css");
@import url("./blocks/popup/__container/_image/popup__container_image.css");
@import url("./blocks/popup/_dark-theme/popup_dark-theme.css");
@import url("./blocks/popup/__image-title/popup__image-title.css");
@import url("./blocks/popup/__image-title/__image-title_opened/popup__image-title_opened.css");
@import url("./blocks/popup/__input/_type/popup__input_type_error.css");
@import url("./blocks/popup/input-error/_active/popup__input-error_active.css");
@import url("./blocks/profile/__avatar-button/profile__avatar-button.css");
@import url("./blocks/cards/__delete/_hidden/cards__delete_hidden.css");
@import url("./blocks/popup/__title/_delete/popup__title_delete.css");
@import url("./blocks/popup/__input/_avatar/popup__input_avatar.css");
@import url("./blocks/popup/__container/_avatar/popup__container_avatar.css");
@import url("./blocks/popup/__container/_delete/popup__container_delete.css");
@import url("./blocks/cards/__likecount/cards__likecount.css");
@import url("./blocks/cards/__likelogo/cards__likelogo.css");
@import url("./blocks/cards/__likelogo/_active/cards__likelogo_active.css");
@import url("./blocks/popup/_auth/popup_auth.css");
@import url("./blocks/popup/__forma/_auth/popup__forma_auth.css");
@import url("./blocks/popup/__title/_auth/popup__title_auth.css");
@import url("./blocks/popup/__input/_auth/popup__input_auth.css");
@import url("./blocks/popup/__submit-button/_auth/popup__submit-button_auth.css");
@import url("./blocks/popup/__text/popup__text.css");
@import url("./blocks/popup/__text/_auth/popup__text_auth.css")
